{% extends 'base.html' %}
{% block content %}
<section class="page_content">
  <div class="ui segment">
    <h2 class="about">ABOUT</h2>
    <h3> adventureBUDDY is a General Assembly Software Engineering Immersive project made by Eric Laitala, Randy Rueter, and Marco Salcedo.</h3>
    <div class="ui divider"></div>
    <a href="https://github.com/elaitala/adventureBUDDY">
      <h3>GitHub Repository</h3>
    </a>
    <h3>adventureBUDDY uses</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Python</li>
      <li>jQuery</li>
      <li>Semantic UI</li>
      <li>Django</li>
      <li>PostgreSQL</li>
      <li>Pillow</li>
    </ul>
    <div class="ui divider"></div>
      <h3>Eric <a href="https://github.com/elaitala"><i class="github icon"></i></a> <a href="https://www.linkedin.com/in/elaitala/"><i class="linkedin icon"></i></a></h3>  
      <h3>Randy <a href="https://github.com/rerueter"><i class="github icon"></i></a> <a href="https://www.linkedin.com/in/rerueter/"><i class="linkedin icon"></i></a></h3>  
      <h3>Marco <a href="https://github.com/masalcedo88"><i class="github icon"></i></a> <a href="https://www.linkedin.com/in/msalcedo88/"><i class="linkedin icon"></i></a></h3>  
  </div>
</section>
{% endblock %}