{% extends 'base.html' %} {% block content %}
<div class="detail_image">
  <img src="{{ adventure.picture.url }}" alt="adventure image"/>
</div>
<section class="page_content">
  <div class="ui attached segment">
    <div class="ui header large">{{ adventure.title }}</div>
    <div class="ui header medium">
      <img class="ui image avatar" src="{{ adventure.creator.profile.picture.url }}" alt="host avatar"/>
      Presented by {{ adventure.creator.first_name }} {{adventure.creator.last_name }}
    </div>
    <div class="ui text">{{ adventure.description }}</div>
    <div class="ui header medium">{{adventure.date}} - ${{adventure.price}}</div>
  </div>
  {% if not adventure.bookings.all %}
        <a class="ui bottom attached button teal" href="{% url 'book_adventure' pk=adventure.pk %}">Book this adventure!</a>
        {% endif %}


</section>
{% endblock %}
