{% extends 'base.html' %}
{% block content %}
<section class="page_content">
  <a href="profile">Account Info</a>
  <a href="my_adventures">My Adventures</a>
  <a href="new_adventure">Create Adventure</a>
  <div class="ui top attached two item menu">
    <a class="item active" href="adventures_offered">Adventures I'm Offering</a>
    <a class="item" href="my_adventures">Adventures I've Booked</a>
  </div>
  <div class="ui bottom attached segment">
      {% for adventure in adventures %}
      <div class="ui segment inverted confirm_prompt">
        <a href="{% url 'adventure_detail' pk=adventure.pk %}">
          <h2>{{ adventure.title }}</h2>
        </a>    
        <a class="ui button red" href="">Cancel Booking</a>
        <a class="ui button blue" href="">Confirm Booking</a>
      </div> 
    {% endfor %}  
    {% for adventure in adventures %}
      <div class="ui segment">
          <a href="{% url 'adventure_detail' pk=adventure.pk %}">
            <h2>{{ adventure.title }}</h2>
          </a><br>
          <a class="ui button red" href="{% url 'cancel_booking' pk=adventure.pk %}">Delete Posting</a>
          </div>  
      {% endfor %}
  </div>
</section>
{% endblock %}
