{% extends 'base.html' %}
{% block content %}
<section class="page_content">
  <a href="profile">Account Info</a>
  <a href="my_adventures">My Adventures</a>
  <a href="new_adventure">Create Adventure</a>
  <div class="ui top attached two item menu">
    <a class="item active" href="adventures_offered">Adventures I'm Offering</a>
    <a class="item" href="my_adventures">Adventures I've Booked</a>
  </div>
  <div class="ui bottom attached segment">
    {% for adventure in adventures %}
      {% if adventure.creator == request.user %}{% if adventure.bookings.all %}
      <div class="ui raised segment confirm_prompt">
        <a href="{% url 'adventure_detail' pk=adventure.pk %}">
          <h2>{{ adventure.title }}</h2><h3 class="red">Booked</h3>
          <h5>{{ adventure.date }}</h5>
        </a><br>
        <a class="ui button red" href="{% url 'cancel_booking' pk=adventure.bookings.get.pk %}">Cancel Booking</a>
        {% if adventure.bookings.get.confirmed == False %}
        <a class="ui button blue" href="{% url 'confirm_booking' pk=adventure.bookings.get.pk %}">Confirm Booking</a>
        {% endif %}
      </div> 
      {% endif %}{% endif %}
    {% endfor %}  
    {% for adventure in adventures %}
    {% if adventure.creator == request.user %}{% if not adventure.bookings.all %}
    NOT BOOKED
      <div class="ui segment">
          <a href="{% url 'adventure_detail' pk=adventure.pk %}">
            <h2>{{ adventure.title }}</h2>
            <h2>{{ adventure.date }}</h2>
          </a><br>
          <a class="ui button red" href="{% url 'delete_post' pk=adventure.pk %}">Delete Post</a>
          </div> 
      {% endif %} {% endif %}
      {% endfor %}
  </div>
</section>
{% endblock %}
