{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- external JS   ————————————————————————————————————————-->
    <script defer src="{%static 'vendors/semantic.js'%}"></script>
    <!-- internal CSS  ————————————————————————————————————————-->
    <link rel="stylesheet" href="{%static 'css/main.css' %}" />
    <!-- external CSS  ————————————————————————————————————————-->
    <link rel="stylesheet" href="{%static 'vendors/semantic.css' %}" />
    <title>adventureBUDDY</title>
  </head>
  <body>
    <h1><a href="/">adventureBUDDY</a></h1>
    <nav>
      {% if user.is_authenticated %} Welcome {{ user.username }}
      <a href="/my_adventures">My Adventures</a>
      <a href="/profile">Profile</a>
      <a href="/accounts/logout">Logout</a>
      {% else %}
      <a href="/">Adventures</a>
      <a href="/accounts/signup">SignUp</a>
      <a href="/accounts/login">Login</a>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
