{% extends 'base.html' %}

{% block content %}
<section class="page_content">
    <a href="profile">Account Info</a>
    <a href="my_adventures">My Adventures</a>
    <a href="new_adventure">Create Adventure</a>
  <div class="ui top attached two item menu">
    <a class="item" href="adventures_offered">Adventures I'm Offering</a>
    <a class="item active" href="my_adventures">Adventures I've Booked</a>
  </div>
</div>
  <div class="ui bottom attached segment">
    {% for book in bookings %}
      <div class="ui segment">
        <a href="{% url 'adventure_detail' pk=book.adventure.pk %}">
          <h2>{{ book.adventure.title }}</h2>
        </a>
        {% if book.confirmed == False %}
        <p>Confirmation Pending</p>
        {% elif book.confirmed == True %}
        <p>Booking Confirmed</p>
        {% endif %}
        <a class="ui button red" href="{% url 'cancel_booking' pk=book.pk %}">Cancel Booking</a>
      </div>  
    {% endfor %}
  </div>
</section>
{% endblock %}
