{% extends 'base.html' %}
{% block content %}
<div class="profile-nav">
<h1>Welcome {{ user.username }}</h1>
    <a href="profile">Account Info</a>
    <a href="my_adventures">My Adventures</a>
    <a href="new_adventure">Create Adventure</a>
</div>
<div class="full-name">
    <h4>{{ user.first_name }}</h4>
    <small>First Name</small>
    <h4>{{ user.last_name }}</h4>
    <small>Last Name</small>
</div>
<div>
    <h4>{{ user.email }}</h4>
    <small>Email</small>
</div>
<div class="edit-buttons">
    <a href="accounts/edit_info">Update Profile</a>
    <br>
    <a href="#">Update Password</a>
</div>


{% endblock %}