{% extends 'base.html' %}
{% block content %}
<section class="page_content">
  <div class="ui top attached segment">
    <div class="profile-nav">
      <div class="ui large header">Your Account</div>
    </div>
    <div>
      <div class="avatar">
        <img class="ui small circular image" id="profile-picture" src=" {{ user.profile.picture.url }}" alt="profile picture">
      </div>
      <br>
      <!-- # WORKING HERE -->
      <a class="ui button small" href="{% url 'update_photo' %}">Update Image</a>
    </div>
    <div class="user_info">
      <h4>Username: {{ user.username }}</h4>
      <h4>Name: {{ user.first_name }} {{ user.last_name }}</h4>
      <h4>Email: {{ user.email }}</h4>
    </div>
  </div>
  <div class="ui bottom attached buttons fluid">
    <a class="ui teal button" href="accounts/edit_info">Update Profile</a>
    <br>
    <a class="ui teal button" href="accounts/change_password">Update Password</a>
  </div>
</section>
{% endblock %}