:root {
  --bg_light: #f0f0f0;
  --bg_dark: #06052c;
  --bg_dark_btn: #00b399;
  --tab_label: #296dcf;
  --tab_label_active: #150259;
  --text_contrast: #ff6356;
  --text_body_dark: #483b60;
  --text_header_dark: #190036;
  --semantic_blue: rgb(41, 109, 207);
}
body {
  background-color: var(--bg_dark);
}
header {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
header a {
  color: var(--text_contrast);
}
.top {
  margin: 0 auto;
  max-width: 1300px;
}
#top_menu {
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
}
nav {
  background-color: var(--bg_dark);
  padding: 0px 15px;
  border-radius: 2.5px;
}
.greeting {
  background-color: var(--bg_dark);
  background-image: url("../images/campfire.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.detail_image {
  background-color: var(--bg_dark);
  height: 400px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#slogan {
  font-size: 45px;
  color: var(--text_contrast);
}
.page_content {
  background: var(--bg_light);
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 10px 0px 10px;
  border-left: 1px solid var(--tab_label);
  border-right: 1px solid var(--tab_label);
  border-bottom: 1px solid var(--tab_label);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 22px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.hover-zoom {
  height: 200px;
  overflow: hidden;
}
.hover-zoom img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
}
.hover-zoom:hover img {
  transition: transform 0.75s ease;
  transform: scale(1.125);
}
.meta {
  /* background-color: var(--bg_dark); */
}
.ui.button.go_detail {
  background-color: var(--bg_dark);
}
.ui.button.go_detail a {
  color: var(--text_contrast);
}
.card_info a {
  color: salmon;
}

#welcome {
  color: var(--text_contrast);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}
main {
  position: relative;
}
footer {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 100%;
  padding: 0px 10px;
  color: var(--text_contrast);
  background-color: var(--bg_dark);
  position: fixed;
  bottom: 0;
  left: 0;
}
footer p {
  line-height: 25px;
}
@media only screen and (max-width: 500px) {
  header {
    padding: 0px 10px;
    background: var(--bg_dark);
    color: var(--text_contrast);
  }
  header a {
    color: var(--text_contrast);
  }
  body {
    background-color: var(--bg_dark);
  }
  .greeting {
    visibility: hidden;
    height: 0;
  }
  #top_menu {
    border-radius: 0px;
  }
  .page_content {
    border-radius: 0px;
  }
}
