{% extends 'base.html' %}
{% block content %}
<div class="page_content">
  {% if error %}
  <p style="background-color: firebrick;">{{error}}</p>
  {% endif %}
  <div class="ui form fields">
    <div class="ui top attached segment">
      <div class="ui large header">Update Profile</div>
        <form action="{% url 'edit_info' %}" method="POST" class="user-form" enctype="multipart/form-data">
          {% csrf_token %}
          
          {{form.as_p}}
          {{profile.as_p}}
          <!-- <p>
            <label for="first_name">First Name</label>
            <input value="{{ user.first_name }}" type="text" name="first_name"  maxlength="25" minlength="2" required>
          </p>
          <p>
            <label for="last_name">Last Name</label>
            <input value="{{ user.last_name }}" type="text" name="last_name"  maxlength="25" minlength="2" required>
          </p>
          <p>
            <label for="email">Email</label>
            <input value="{{ user.email }}" type="email" name="email"  maxlength="25" minlength="2" required>
          </p>
          <p>
            <label for="picture">Picture</label>
            <input type="file" value="{{ user.profile.picture }}" type="picture" name="picture">
          </p>
          <p>
            <label for="interests">Interests</label>
            <input value="{{ user.profile.interests }}" type="interests" name="interests">
          </p> -->
        <button class="ui fluid bottom attached teal button" type="submit"> Save </button>
        
      </form>
    </div>
  </div>
</div>

{% endblock %}