{% extends 'base.html' %}
{% block content %}

{% if error %}
    <p style="background-color: firebrick;">{{error}}</p>
{% endif %}

<section class="form-section">
    <!-- <form action="{% url 'edit_info' %}" method="POST" class="user-form" enctype="multipart/form-data"> -->
    <form method="POST" class="user-form" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <p>
        <label for="first_name">First Name</label>
        <input value="{{ user.first_name }}" type="text" name="first_name"  maxlength="25" minlength="2" required>
    </p>
    <p>
        <label for="last_name">Last Name</label>
        <input value="{{ user.last_name }}" type="text" name="last_name"  maxlength="25" minlength="2" required>
    </p>
    <p>
        <label for="email">Email</label>
        <input value="{{ user.email }}" type="email" name="email"  maxlength="25" minlength="2" required>
    </p>
    <p>
        <label for="picture">Picture</label>
        <input type="file" value="{{ user.profile.picture }}" type="picture" name="picture">
    </p>
    <p>
        <label for="interests">Interests</label>
        <input value="{{ user.profile.interests }}" type="interests" name="interests">
    </p>
    <button type="submit"> Update Info </button>
    </form>
</section>

{% endblock %}