{% extends 'base.html' %}
{% block content %}

<section class="page_content">
{% if error %}
  <div class="ui icon message">
    <i class="times icon"></i>
    <div class="content">
      <div class="header">{{error}} - Try again.</div>
    </div>
  </div>
{% endif %}
  <form action="{% url 'login' %}" method="POST">
    <div class="ui top attached segment">
      <section class="ui form form-section">
        <div class="ui large header">Welcome back.</div>
      {% csrf_token %}
        <p>
          <label for="username">Username</label>
          <input type="text" name="username" maxlength="25" minlength="2" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" maxlength="25" minlength="4" required>
        </p>
      </section>
    </div>  
    <button class="ui bottom attached teal fluid button" type="submit">Login</button>
  </form>
</section>

{% endblock %}